pc-control-system/nodered/flows.json
[
    {
        "id": "tab-pc-control",
        "type": "tab",
        "label": "PC Control - Alexa",
        "disabled": false,
        "info": "Controle do PC via Alexa usando node-red-contrib-alexa-home (emulação Hue v2 local)"
    },
    {
        "id": "alexa-home-controller",
        "type": "alexa-home-conf",
        "name": "Alexa Hue Bridge",
        "port": "80",
        "path": ""
    },
    {
        "id": "comment-intro",
        "type": "comment",
        "z": "tab-pc-control",
        "name": "=== PC CONTROL via ALEXA (alexa-home) ===",
        "info": "Emula Philips Hue Bridge v2 na porta 80.\nAlexa descobre os dispositivos automaticamente.\n\nComandos:\n- 'Alexa, ligar PC Desligar'\n- 'Alexa, ligar Modo Cinema'\n- 'Alexa, ligar Modo Console'\n- 'Alexa, colocar Volume PC em 50%'",
        "x": 250,
        "y": 40,
        "wires": []
    },
    {
        "id": "alexa-shutdown",
        "type": "alexa-home",
        "z": "tab-pc-control",
        "conf": "alexa-home-controller",
        "name": "PC Desligar",
        "topic": "",
        "x": 160,
        "y": 120,
        "wires": [["func-shutdown"]]
    },
    {
        "id": "func-shutdown",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST shutdown",
        "func": "msg.url = 'http://localhost:3000/api/command/shutdown';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 120,
        "wires": [["http-out"]]
    },
    {
        "id": "alexa-sleep",
        "type": "alexa-home",
        "z": "tab-pc-control",
        "conf": "alexa-home-controller",
        "name": "PC Suspender",
        "topic": "",
        "x": 170,
        "y": 180,
        "wires": [["func-sleep"]]
    },
    {
        "id": "func-sleep",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST sleep",
        "func": "msg.url = 'http://localhost:3000/api/command/sleep';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 180,
        "wires": [["http-out"]]
    },
    {
        "id": "alexa-cinema",
        "type": "alexa-home",
        "z": "tab-pc-control",
        "conf": "alexa-home-controller",
        "name": "Modo Cinema",
        "topic": "",
        "x": 160,
        "y": 240,
        "wires": [["func-cinema"]]
    },
    {
        "id": "func-cinema",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST cinema-mode",
        "func": "msg.url = 'http://localhost:3000/api/command/cinema-mode';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 390,
        "y": 240,
        "wires": [["http-out"]]
    },
    {
        "id": "alexa-console",
        "type": "alexa-home",
        "z": "tab-pc-control",
        "conf": "alexa-home-controller",
        "name": "Modo Console",
        "topic": "",
        "x": 170,
        "y": 300,
        "wires": [["func-console"]]
    },
    {
        "id": "func-console",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST console-mode",
        "func": "msg.url = 'http://localhost:3000/api/command/console-mode';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 300,
        "wires": [["http-out"]]
    },
    {
        "id": "alexa-retro",
        "type": "alexa-home",
        "z": "tab-pc-control",
        "conf": "alexa-home-controller",
        "name": "Modo Retro",
        "topic": "",
        "x": 160,
        "y": 360,
        "wires": [["func-retro"]]
    },
    {
        "id": "func-retro",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST retro-console",
        "func": "msg.url = 'http://localhost:3000/api/command/retro-console';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 360,
        "wires": [["http-out"]]
    },
    {
        "id": "alexa-mute",
        "type": "alexa-home",
        "z": "tab-pc-control",
        "conf": "alexa-home-controller",
        "name": "PC Mudo",
        "topic": "",
        "x": 150,
        "y": 420,
        "wires": [["func-mute"]]
    },
    {
        "id": "func-mute",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST mute",
        "func": "msg.url = 'http://localhost:3000/api/command/mute';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 420,
        "wires": [["http-out"]]
    },
    {
        "id": "alexa-night",
        "type": "alexa-home",
        "z": "tab-pc-control",
        "conf": "alexa-home-controller",
        "name": "Modo Noturno",
        "topic": "",
        "x": 170,
        "y": 480,
        "wires": [["func-night"]]
    },
    {
        "id": "func-night",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST night-mode",
        "func": "msg.url = 'http://localhost:3000/api/command/night-mode';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 480,
        "wires": [["http-out"]]
    },
    {
        "id": "alexa-restart",
        "type": "alexa-home",
        "z": "tab-pc-control",
        "conf": "alexa-home-controller",
        "name": "PC Reiniciar",
        "topic": "",
        "x": 170,
        "y": 540,
        "wires": [["func-restart"]]
    },
    {
        "id": "func-restart",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST restart",
        "func": "msg.url = 'http://localhost:3000/api/command/restart';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 540,
        "wires": [["http-out"]]
    },
    {
        "id": "alexa-monitor",
        "type": "alexa-home",
        "z": "tab-pc-control",
        "conf": "alexa-home-controller",
        "name": "Monitor PC",
        "topic": "",
        "x": 160,
        "y": 600,
        "wires": [["func-monitor"]]
    },
    {
        "id": "func-monitor",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST monitor-off",
        "func": "msg.url = 'http://localhost:3000/api/command/monitor-off';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 600,
        "wires": [["http-out"]]
    },
    {
        "id": "alexa-volume",
        "type": "alexa-home",
        "z": "tab-pc-control",
        "conf": "alexa-home-controller",
        "name": "Volume PC",
        "topic": "",
        "x": 160,
        "y": 680,
        "wires": [["func-volume"]]
    },
    {
        "id": "func-volume",
        "type": "function",
        "z": "tab-pc-control",
        "name": "Extrair volume %",
        "func": "// alexa-home envia bri (0-254) como dimmer\nvar bri = msg.payload.bri || msg.payload.on_request_bri || 127;\nvar volume = Math.round((bri / 254) * 100);\nmsg.url = 'http://localhost:3000/api/command/set-volume';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = { volume: volume };\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 680,
        "wires": [["http-out"]]
    },
    {
        "id": "http-out",
        "type": "http request",
        "z": "tab-pc-control",
        "name": "Enviar comando",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "x": 640,
        "y": 400,
        "wires": [["debug-out"]]
    },
    {
        "id": "debug-out",
        "type": "debug",
        "z": "tab-pc-control",
        "name": "Resposta",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.success",
        "statusType": "auto",
        "x": 820,
        "y": 400,
        "wires": []
    }
]
