pc-control-system/nodered/flows.json
[
    {
        "id": "tab-pc-control",
        "type": "tab",
        "label": "PC Control - Alexa",
        "disabled": false,
        "info": "Controle do PC via Alexa usando node-red-contrib-virtual-smart-home (VSH)"
    },
    {
        "id": "vsh-conn",
        "type": "vsh-connection",
        "name": "Virtual Smart Home"
    },
    {
        "id": "comment-intro",
        "type": "comment",
        "z": "tab-pc-control",
        "name": "=== PC CONTROL via ALEXA (Virtual Smart Home) ===",
        "info": "Usa node-red-contrib-virtual-smart-home (VSH) para integração com Alexa.\n\nPasso a passo para ativar:\n1. Acesse o Node-RED UI: http://192.168.0.225:1880\n2. Dê um duplo clique no nó 'vsh-connection' e logue com sua conta Amazon\n3. No app Alexa: habilite a Skill 'Virtual Smart Home'\n4. Diga: 'Alexa, descobrir dispositivos'\n\nComandos de voz:\n- 'Alexa, ligar PC Desligar'\n- 'Alexa, ligar Modo Cinema'\n- 'Alexa, colocar Volume PC em 50%'\n- 'Alexa, ligar PC Bloquear'",
        "x": 250,
        "y": 40,
        "wires": []
    },
    {
        "id": "vsh-shutdown",
        "type": "vsh-virtual-device",
        "z": "tab-pc-control",
        "connection": "vsh-conn",
        "name": "PC Desligar",
        "deviceType": "SWITCH",
        "deviceName": "PC Desligar",
        "topic": "pc/shutdown",
        "passthrough": false,
        "x": 160,
        "y": 120,
        "wires": [["func-shutdown"]]
    },
    {
        "id": "func-shutdown",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST shutdown",
        "func": "if (msg.payload.powerState !== 'ON') return null;\nmsg.url = 'http://192.168.0.225:3000/api/command/shutdown';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 120,
        "wires": [["http-out"]]
    },
    {
        "id": "vsh-sleep",
        "type": "vsh-virtual-device",
        "z": "tab-pc-control",
        "connection": "vsh-conn",
        "name": "PC Suspender",
        "deviceType": "SWITCH",
        "deviceName": "PC Suspender",
        "topic": "pc/sleep",
        "passthrough": false,
        "x": 160,
        "y": 180,
        "wires": [["func-sleep"]]
    },
    {
        "id": "func-sleep",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST sleep",
        "func": "if (msg.payload.powerState !== 'ON') return null;\nmsg.url = 'http://192.168.0.225:3000/api/command/sleep';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 180,
        "wires": [["http-out"]]
    },
    {
        "id": "vsh-restart",
        "type": "vsh-virtual-device",
        "z": "tab-pc-control",
        "connection": "vsh-conn",
        "name": "PC Reiniciar",
        "deviceType": "SWITCH",
        "deviceName": "PC Reiniciar",
        "topic": "pc/restart",
        "passthrough": false,
        "x": 160,
        "y": 240,
        "wires": [["func-restart"]]
    },
    {
        "id": "func-restart",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST restart",
        "func": "if (msg.payload.powerState !== 'ON') return null;\nmsg.url = 'http://192.168.0.225:3000/api/command/restart';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 240,
        "wires": [["http-out"]]
    },
    {
        "id": "vsh-lock",
        "type": "vsh-virtual-device",
        "z": "tab-pc-control",
        "connection": "vsh-conn",
        "name": "PC Bloquear",
        "deviceType": "SWITCH",
        "deviceName": "PC Bloquear",
        "topic": "pc/lock",
        "passthrough": false,
        "x": 160,
        "y": 300,
        "wires": [["func-lock"]]
    },
    {
        "id": "func-lock",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST lock-pc",
        "func": "if (msg.payload.powerState !== 'ON') return null;\nmsg.url = 'http://192.168.0.225:3000/api/command/lock-pc';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 300,
        "wires": [["http-out"]]
    },
    {
        "id": "vsh-monitor",
        "type": "vsh-virtual-device",
        "z": "tab-pc-control",
        "connection": "vsh-conn",
        "name": "Monitor PC",
        "deviceType": "SWITCH",
        "deviceName": "Monitor PC",
        "topic": "pc/monitor-off",
        "passthrough": false,
        "x": 160,
        "y": 360,
        "wires": [["func-monitor"]]
    },
    {
        "id": "func-monitor",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST monitor-off",
        "func": "if (msg.payload.powerState !== 'ON') return null;\nmsg.url = 'http://192.168.0.225:3000/api/command/monitor-off';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 360,
        "wires": [["http-out"]]
    },
    {
        "id": "vsh-cinema",
        "type": "vsh-virtual-device",
        "z": "tab-pc-control",
        "connection": "vsh-conn",
        "name": "Modo Cinema",
        "deviceType": "SWITCH",
        "deviceName": "Modo Cinema",
        "topic": "pc/cinema-mode",
        "passthrough": false,
        "x": 160,
        "y": 420,
        "wires": [["func-cinema"]]
    },
    {
        "id": "func-cinema",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST cinema-mode",
        "func": "if (msg.payload.powerState !== 'ON') return null;\nmsg.url = 'http://192.168.0.225:3000/api/command/cinema-mode';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 390,
        "y": 420,
        "wires": [["http-out"]]
    },
    {
        "id": "vsh-console",
        "type": "vsh-virtual-device",
        "z": "tab-pc-control",
        "connection": "vsh-conn",
        "name": "Modo Console",
        "deviceType": "SWITCH",
        "deviceName": "Modo Console",
        "topic": "pc/console-mode",
        "passthrough": false,
        "x": 160,
        "y": 480,
        "wires": [["func-console"]]
    },
    {
        "id": "func-console",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST console-mode",
        "func": "if (msg.payload.powerState !== 'ON') return null;\nmsg.url = 'http://192.168.0.225:3000/api/command/console-mode';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 480,
        "wires": [["http-out"]]
    },
    {
        "id": "vsh-retro",
        "type": "vsh-virtual-device",
        "z": "tab-pc-control",
        "connection": "vsh-conn",
        "name": "Modo Retro",
        "deviceType": "SWITCH",
        "deviceName": "Modo Retro",
        "topic": "pc/retro-console",
        "passthrough": false,
        "x": 160,
        "y": 540,
        "wires": [["func-retro"]]
    },
    {
        "id": "func-retro",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST retro-console",
        "func": "if (msg.payload.powerState !== 'ON') return null;\nmsg.url = 'http://192.168.0.225:3000/api/command/retro-console';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 540,
        "wires": [["http-out"]]
    },
    {
        "id": "vsh-night",
        "type": "vsh-virtual-device",
        "z": "tab-pc-control",
        "connection": "vsh-conn",
        "name": "Modo Noturno",
        "deviceType": "SWITCH",
        "deviceName": "Modo Noturno",
        "topic": "pc/night-mode",
        "passthrough": false,
        "x": 160,
        "y": 600,
        "wires": [["func-night"]]
    },
    {
        "id": "func-night",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST night-mode",
        "func": "if (msg.payload.powerState !== 'ON') return null;\nmsg.url = 'http://192.168.0.225:3000/api/command/night-mode';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 600,
        "wires": [["http-out"]]
    },
    {
        "id": "vsh-mute",
        "type": "vsh-virtual-device",
        "z": "tab-pc-control",
        "connection": "vsh-conn",
        "name": "PC Mudo",
        "deviceType": "SWITCH",
        "deviceName": "PC Mudo",
        "topic": "pc/mute",
        "passthrough": false,
        "x": 150,
        "y": 660,
        "wires": [["func-mute"]]
    },
    {
        "id": "func-mute",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST mute",
        "func": "if (msg.payload.powerState !== 'ON') return null;\nmsg.url = 'http://192.168.0.225:3000/api/command/mute';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 660,
        "wires": [["http-out"]]
    },
    {
        "id": "vsh-cancel-shutdown",
        "type": "vsh-virtual-device",
        "z": "tab-pc-control",
        "connection": "vsh-conn",
        "name": "Cancelar Desligamento",
        "deviceType": "SWITCH",
        "deviceName": "Cancelar Desligamento",
        "topic": "pc/cancel-shutdown",
        "passthrough": false,
        "x": 190,
        "y": 720,
        "wires": [["func-cancel-shutdown"]]
    },
    {
        "id": "func-cancel-shutdown",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST cancel-shutdown",
        "func": "if (msg.payload.powerState !== 'ON') return null;\nmsg.url = 'http://192.168.0.225:3000/api/command/cancel-shutdown';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 720,
        "wires": [["http-out"]]
    },
    {
        "id": "vsh-media-playpause",
        "type": "vsh-virtual-device",
        "z": "tab-pc-control",
        "connection": "vsh-conn",
        "name": "Media Play Pausa",
        "deviceType": "SWITCH",
        "deviceName": "Media Play Pausa",
        "topic": "pc/media-play-pause",
        "passthrough": false,
        "x": 175,
        "y": 780,
        "wires": [["func-media-playpause"]]
    },
    {
        "id": "func-media-playpause",
        "type": "function",
        "z": "tab-pc-control",
        "name": "POST media-play-pause",
        "func": "if (msg.payload.powerState !== 'ON') return null;\nmsg.url = 'http://192.168.0.225:3000/api/command/media-play-pause';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 780,
        "wires": [["http-out"]]
    },
    {
        "id": "vsh-volume",
        "type": "vsh-virtual-device",
        "z": "tab-pc-control",
        "connection": "vsh-conn",
        "name": "Volume PC",
        "deviceType": "DIMMER_SWITCH",
        "deviceName": "Volume PC",
        "topic": "pc/volume",
        "passthrough": false,
        "x": 150,
        "y": 840,
        "wires": [["func-volume"]]
    },
    {
        "id": "func-volume",
        "type": "function",
        "z": "tab-pc-control",
        "name": "Extrair volume %",
        "func": "// Se Alexa desligar o dimmer → mutar\nif (msg.payload.powerState !== 'ON') {\n    msg.url = 'http://192.168.0.225:3000/api/command/mute';\n    msg.method = 'POST';\n    msg.headers = {'Content-Type': 'application/json'};\n    msg.payload = {};\n    return msg;\n}\n// VSH envia brightness (0-100)\nvar volume = msg.payload.brightness !== undefined ? msg.payload.brightness : 50;\nmsg.url = 'http://192.168.0.225:3000/api/command/set-volume';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = { volume: volume };\nreturn msg;",
        "outputs": 1,
        "x": 390,
        "y": 840,
        "wires": [["http-out"]]
    },
    {
        "id": "http-out",
        "type": "http request",
        "z": "tab-pc-control",
        "name": "Enviar comando",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "x": 640,
        "y": 480,
        "wires": [["debug-out"]]
    },
    {
        "id": "debug-out",
        "type": "debug",
        "z": "tab-pc-control",
        "name": "Resposta",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.success",
        "statusType": "auto",
        "x": 820,
        "y": 480,
        "wires": []
    }
]
